body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.banner {
  background-color: #f4b400;
  text-align: center;
  color: white;
  padding: 2rem 1rem;
}

.banner h1 {
  margin: 0;
  font-size: 2rem;
}

.banner p {
  margin: 0.5rem 0 0;
  font-size: 1.2rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fullimg {
  background-color: aqua;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg9 a {
  display: block;  /* Add this */
  background-image: url(./img/4.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg8 a {
  display: block;  /* Add this */
  background-image: url(./img/5.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg7 a {
  display: block;  /* Add this */
  background-image: url(./img/6.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg6 a {
  display: block;  /* Add this */
  background-image: url(./img/7.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg5 a {
  display: block;  /* Add this */
  background-image: url(./img/8.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg4 a {
  display: block;  /* Add this */
  background-image: url(./img/9.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg3 a {
  display: block;  /* Add this */
  background-image: url(./img/10.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg2 a {
  display: block;  /* Add this */
  background-image: url(./img/11.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fullimg1 a {
  display: block;  /* Add this */
  background-image: url(./img/3.jpg);
  background-size: cover;  /* Add this */
  background-position: center;  /* Add this */
  width: 100%;
  height: 35vh;  /* Change from 25% to 100% */
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
